/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;

    .banner-bem-vindo {
        float: left;
        width: 100px;
    }
    .texto-bem-vindo{
        float: right;
        
    }

    .bem-vindo{ 
        width: 503px;
        height: 124px;
        top: 260px;
        left: 133px;
        gap: 0px;
        opacity: 0px;
        font-family: Archivo;
        font-size: 55px;
        font-weight: 700;
        line-height: 59.84px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    
      .fotos-de-unidades{
        display: flex;
      }

      .endereço{
        margin: 0;
            height: 20vh;
            display: flex; 
            justify-content: center; 
            align-items: center;  */
      }






    