/* footer.css */
footer {
    background-color: #292625; /* Cor de fundo do rodapé */
    padding: 20px 0;
    color: #fff; /* Cor do texto */
}

.containerfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-logo img {
    height: 50px; /* Ajuste conforme necessário */
}

nav {
    flex-grow: 1;
    text-align: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px; /* Aumente o valor conforme necessário */
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0; /* Resetar margens */
}

.nav-links a {
    text-decoration: none;
    color: #fff; /* Cor do texto dos links */
    font-weight: bold;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid #A97744; /* Linha superior */
    padding-top: 10px;
    margin-top: 20px;
}

.social-media {
    text-align: left;
}

.social-media p {
    margin: 0;
    margin-bottom: 10px;
}

.social-media-icons {
    display: flex;
    gap: 20px; /* Espaçamento entre os ícones */
}

.social-media-icons img {
    height: 30px; /* Tamanho dos ícones */
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom img {
    height: 30px; /* Tamanho do logo do Grupo Gracom */
}
